# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# MacOS files
.DS_Store

# Other
.env

build/
dist/
*.egg-info/
*.egg/
*.log
*.pyc
*.pyo
*.pyd
*.swp
*.bak
*.tmp
*.out

